{% extends "core/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'core/css/form.css' %}" />
{% endblock styles %}

{% block content %}
    <div class="container section">
        <h1 class="page-title">Categorías de Productos - Crear</h1>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="button button-primary">Guardar</button>
            </div>
        </form>
        <div class="page-actions">
            <a class="button button-secondary" href="{% url 'ventas:home' %}">Volver</a>
        </div>
    </div>
{% endblock content %}
