<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Digitalers</title>
    </head>
    <body>
        <main>
            <h1>Ventas</h1>
            <p><a href="">Categorías de productos</a></p>
            <ol>
                <li><a href="{% url 'ventas:categoria_list' %}">Listar</a></li>
            </ol>
        </main>
        <p><a href="{% url 'core:home' %}">Volver</a></p>
    </body>
</html>
