<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>{{ titulo }}</h1>
        <main>
            <ul>
                <li>Es un framework para crear aplicaciones web</li>
                <li>Su comunidad es gigante</li>
                <br>
                <li><a href="saludar/">Saludar</a></li>
                <li><a href="saludar2/">Saludar 2</a></li>
                <li><a href="notas/">Lista de notas</a></li>
            </ul>
        </main>
        <footer>
            Hecho en el año {{ año }}
        </footer>
    </body>
</html>
